<!DOCTYPE html>
<html lang="se" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="../static/home.css" th:href="${'/home.css'}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="automation, borensberg, engineer, sweden">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Sebbes WMS</title>
</head>

<body>
<div class="background">
<!--    <div th:replace="fragments/headerFragment :: headerFragment"></div>-->
    <div class="main">
        <div class="log-in button">

        </div>
        <div class="create-user button">

        </div>
    </div>
</div>

</body>

</html>